<div class='image-fullwidth-container'>
  <figure class="small-image">
    <picture>
      <img alt="Map showing the new Power of Siberia pipeline plan in the East of Russia" class='image-fullwidth' src='images/gazprom-pipelines_small.png'></img>
    </picture>
  </figure>
  <figure class="medium-image">
    <picture>
      <img alt="Map showing the new Power of Siberia pipeline plan in the East of Russia" class='image-fullwidth' src='images/gazprom-pipelines_med.png'></img>
    </picture>
  </figure>
  <figure class="large-image">
    <picture>
      <img alt="Map showing the new Power of Siberia pipeline plan in the East of Russia" class='image-fullwidth' src='images/gazprom-pipelines_large.png'></img>
    </picture>
  </figure>
  <figcaption></figcaption>
</div>
