<div class="figures-block">
  <img src="images/AVD56383.jpg"/>
  <div class="figures-container">
    <div class="o-grid-container">
      <div class="o-grid-row">
        <div data-o-grid-colspan="12 S12 M4">
          <div class="figure">$55bn</div>
          <div class="description">total cost of the project</div>
        </div>
        <div data-o-grid-colspan="12 S12 M4">
          <div class="figure">2km</div>
          <div class="description">length of pipeline laid daily</div>
        </div>
        <div data-o-grid-colspan="12 S12 M4">
          <div class="figure">$5bn</div>
          <div class="description">contribution to Gazprom market cap</div>
        </div>
      </div>
    </div>
  </div>
</div>
